---
import Project from "../../components/Project.astro";
---

<Project
  title="Disease graphing project"
  assignment="model and graph a disease"
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe
    src="https://iacs-cs.github.io/systems-project-disease-modeling-birthday-doubles/"
    title="Disease project"
    width="100%"
    height="800px"></iframe>
</Project>
