---
import Project from "../../components/Project.astro";
---

<Project
  title="Portfolio"
  assignment="Create a website that has a interesting library"
>
  <p>
    My project was pretty interesting too work on and i spent a good chunk of
    time working on it!
  </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe
    src="https://iacs-cs.github.io/apcsp-portfolio-MrDonaldGlov/"
    title="Personality Quiz"
    width="100%"
    height="800px"></iframe>
</Project>
